body{
    /**/
    background-color :rgb(153, 153, 210);
    /**/
    /*Cobrir todo o fundo da tela com a mesma imagem*/
}
header{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
#container-a{
    background-color:red;
}
/* #container-b{
    background-color:silver;
    margin-left: 1300px;
} */
#manipula{
    color:aliceblue
}